.hero {
  background-image: url("/background4.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  background-color: aqua;
  min-height: 90vh;
  border-bottom: 1px solid #eaeaea;
}
.mission {
  background-image: url("/background2.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  background-color: aqua;
  min-height: 90vh;
  border-bottom: 1px solid #eaeaea;
}
.vision {
  background-image: url("/background3.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  background-color: aqua;
  min-height: 90vh;
  border-bottom: 1px solid #eaeaea;
}

.hero div,
.mission div,
.vision div {
  width: 100%;
  min-height: 80vh;
  display: grid;
  place-content: center;
}

.hero div p,
.mission div p,
.vision div p {
  text-align: center;
  font-size: 23px;
}

.hero div h2,
.mission div h2,
.vision div h2 {
  font-size: 25px;
}

@media (min-width: 480px) {
  .hero div h2,
  .mission div h2,
  .vision div h2 {
    font-size: 30px;
  }
  .hero div p,
  .mission div p,
  .vision div p {
    font-size: 28px;
  }
}

@media (min-width: 980px) {
  .hero div h2,
  .mission div h2,
  .vision div h2 {
    font-size: 40px;
  }
  .hero div p,
  .mission div p,
  .vision div p {
    font-size: 30px;
  }
}
