.contact {
  width: 100%;
  min-height: 80vh;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  margin: 2rem 0;
}

.contact div h2 {
  flex: 1;
  display: grid;
  place-content: center;
}

.contact div form {
  flex: 4;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.contact div form input {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 2px solid #d5d5d5;
}

.label {
  width: 100%;
  transition: all 0.3s;
  transform: translateY(30px);
  opacity: 0;
}

.contact div form:hover .label {
  opacity: 1;
  transform: translateY(0px);
}

.contact div form textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #d5d5d5;
  margin-top: 1rem;
}

.submit {
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 3px;
  border: 1px solid #d5d5d5;
}

@media (min-width: 480px) {
  .contact div form {
    width: 60%;
  }
}

@media (min-width: 980px) {
  .contact div form {
    max-width: 40%;
  }
}
